<?php
return [
    'all' => [
              'memcached' => ['storage' => 'Memcached',
                              'servers' => [['localhost', 11211, 10]]],
    ],
    'test' => [
        'sendmail' => [
            'enabled' => false,
            'no-replay@gochipon.co.jp' => [
                'FromName' => '',
            ]
        ],
        'smtp' => [
            'enabled' => false,
            'no-replay@gochipon.co.jp' => [
                'FromName' => '',
                'Host' => '',
                'Username' => '',
                'Password' => '',
                'Port' => ''
            ]
        ]
    ]
];
