<?php
return [
    'all' => [
              'master' => [
                                 'adapter'     => 'Mysql',
                                 'host'        => '127.0.0.1',
                                 'username'    => 'root',
                                 'password'    => '',
                                 'dbname'      => 'localinfo',
                                 'charset' => 'utf8',
                                 'options' => [
                                               PDO::ATTR_EMULATE_PREPARES => false,
                                               PDO::ATTR_STRINGIFY_FETCHES => false,
                                               ]
                                 ],
              'slave' => [
                                 'adapter'     => 'Mysql',
                                 'host'        => '127.0.0.1',
                                 'username'    => 'root',
                                 'password'    => '',
                                 'dbname'      => 'localinfo',
                                 'charset' => 'utf8',
                                 'options' => [
                                               PDO::ATTR_EMULATE_PREPARES => false,
                                               PDO::ATTR_STRINGIFY_FETCHES => false,
                                               ]
                                 ],
    ],
    'test' => [
              'master' => [
                                 'adapter'     => 'Mysql',
                                 'host'        => '127.0.0.1',
                                 'username'    => 'root',
                                 'password'    => '',
                                 'dbname'      => 'localinfo_test',
                                 'charset' => 'utf8',
                                 'options' => [
                                               PDO::ATTR_EMULATE_PREPARES => false,
                                               PDO::ATTR_STRINGIFY_FETCHES => false,
                                               ]
                                 ],
              'slave' => [
                                 'adapter'     => 'Mysql',
                                 'host'        => '127.0.0.1',
                                 'username'    => 'root',
                                 'password'    => '',
                                 'dbname'      => 'localinfo_test',
                                 'charset' => 'utf8',
                                 'options' => [
                                               PDO::ATTR_EMULATE_PREPARES => false,
                                               PDO::ATTR_STRINGIFY_FETCHES => false,
                                               ]
                                 ],
    ]
];
