<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta name="robots" content="INDEX,FOLLOW">
  <title>お宝ログ</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/css/base.css">
  <script src="//code.jquery.com/jquery-2.2.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="/js/common.js"></script>
  <script>
    (function(){
      $(exports.common.Ready);
    })();
  </script>
  <meta property="og:title" content="ページのタイトル">
  <meta property="og:type" content="article">
  <meta property="og:url" content="ページのURL">
  <meta property="og:image" content="画像のURL">
  <meta property="og:site_name"  content="サイト名">
  <meta property="og:description" content="ページのディスクリプション">
  <meta property="fb:app_id" content="App-ID">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@[Twitter ID]">
</head>
<body>
<div class="wrapper">
